    #title {
    background: #68ff9b;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.hp-link {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    background: #ff4e4e;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

.sub {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff760edd;
    font-weight: 800;
    text-align: center;
}

img {
    height: auto;
    width: 500px;    
}

div {
    text-align: center;
}

p,
ul, 
ol {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*ricorda che per raggruppare bisogna inserire la virgola come fatto con p, ul e ol */

